<<<<<<< HEAD
<div data-controller="slider" class="relative overflow-hidden rounded-xl shadow-lg h-96 md:h-[500px]">
=======
<div data-controller="slider" class="relative overflow-hidden rounded-xl shadow-lg h-96 md:h-[680px]">
>>>>>>> domain
  <div class="slides flex transition-transform duration-700 ease-in-out w-full h-full" data-slider-target="slides">
    <% obj.images.each do |image| %>
      <div class="w-full flex-shrink-0 h-full relative">
        <%= render 'home/heroimages', obj: image %>
      </div>
    <% end %>
  </div>
  <%= render 'home/arrows', heros: obj.images %>
</div>
